<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <!--<p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
        I commented the above out.
        -->
        
        <h1>About Me</h1>
        <p class="font-secondary paragraph-lg text-dark">
        
         My name is Sam Ade, A.k.A The Writing Geek. I’m skilled in keyword research and content creation. I help companies shape their voices online, one character at a time. 
I am a seasoned content curator with extensive and varied writing experience. I have curated website content, articles, product reviews, white papers, marketing copies, educative articles, press releases, and so much more.
        </p><br /><br />
        
        <p class="font-secondary paragraph-lg text-dark">
          I am also a typo finder and a grammar fixer.
I enjoy a steady flow of freelance work for a wide variety of clients and projects, and I ensure that my content is always creative, unique, and engaging.
Every copy I work on is formatted for the specific client's voice and audience, and I excel in deadline-/results-driven environments.
          </p>
        <p class="font-secondary paragraph-lg text-dark">
          

        
      </div>
    </div>
  </div>
</section>
<!-- /about -->
