<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <!--<p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
        I commented the above out.
        -->
        <p class="font-secondary paragraph-lg text-dark">
        
          I’m skilled in keyword research and content creation. I help companies shape their voices online, one character at a time. 
I am a seasoned content curator with extensive and varied writing experience. I have curated website content, articles, product reviews, white papers, marketing copies, educative articles, press releases, and so much more.
        </p>
        <div>
        <p class="font-secondary paragraph-lg text-dark">
          I am also a typo finder and a grammar fixer.
I enjoy a steady flow of freelance work for a wide variety of clients and projects, and I ensure that my content is always creative, unique, and engaging.
Every copy I work on is formatted for the specific client's voice and audience, and I excel in deadline-/results-driven environments.
          </p></div>
        <p class="font-secondary paragraph-lg text-dark">
          
I am currently on the lookout for partnerships with topnotch digital marketing agencies that present opportunities for long-term growth and success. I can help you take care of content creation, allowing you channel your energy and creativity into other aspects of your business.
          
        </p>
        <p class="font-secondary paragraph-lg text-dark">
I provide services to businesses and organizations seeking to enhance and define their online presence, and engage with their audience and customers. I help them (businesses, startups and movements) tell clear and compelling stories to propel people to action and help spread powerful ideas for positive change.
        </p>
        <p class="font-secondary paragraph-lg text-dark">
          
Ultimately, my job is to help brands connect with their audience on an emotional level and
 maximize every dollar they spend. 
        </p>
        <p class="font-secondary paragraph-lg text-dark">

What can I do for you?

•	Create SEO driven content  
•	Write clear and easy to read copy
•	In-depth market research
•	Find out what ideas are on trend 

Why you should work with me?
•	I’m fluent in AP Style
•	My work is centered on honesty, integrity and professionalism.
•	I’m great to work with!

        
        </p>
        
      </div>
    </div>
  </div>
</section>
<!-- /about -->
