<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <!--<p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
        I commented the above out.
        -->
        
        <p class="font-secondary paragraph-lg text-dark">
          Are you in need of high-quality, relevant content that will engage your audience, establish brand trust, and drive business?
          
          Do you need writeups that will educate your readers and persuade them to make a certain decision?<br /><br />
          
          
          
          
         I have over 10 years of experience in writing. With my content, you'll gain and keep the attention of website visitors, 
          get them to visit your site repeatedly, and ultimately enjoy a steady stream of potential clients.
          You'll get web copy that is unique, engaging and optimized for search engines.<br /><br /> The style of
          writing will be customized to meet your business requirements, and also the tone and voice of your business.
          
          If you are in need of sales copies, emails, and letters, I'll provide you with content that are guanranteed to 
          convert prospects to leads.<br /><br />
          
          I also provide my clients with topnotch SEO services.I help you learn why your competitors rank so high and
      how you can outrank them.
          
          

        </p>
        
        <h2>Why You Should Work With Me</h2>
        <p class="font-secondary paragraph-lg text-dark">
          
          I'll save you a lot of time; time that is better spent on other important aspects of your business such
          as researching new markets, creating new products, lowering costs, and building customer relations.
          The extra time that you are investing back into the business will, at the end of the day, help 
          your business achieve greater success.You also get to spend more time with your family and loved ones.
         
          I always meet agreed submission deadlines and create content that is plagiarism free; this means that you will never 
          again miss your blog publishing schedule.
          
          
         I can help you prepare a list of interesting blog topics, research facts and figures, finally, 
          write content that is search-engine friendly AND provides strong value to your audience
          
          You won’t have to worry about creating content that adheres to the rules of search engine optimization, such as including the 
          right long-tail keywords and hyperlinks within the blog; I will do that for you.
          
          I proofread before submitting. No article edits required at your end. My goal is to save you from any form of stress and help
          you maintain your sanity.
          
          Security: I've been writing for over 10 years. I do not intend to stop writing. I;m always going to be here for you.
          
          My services are budget-friendly, so you get to save money.
        </p>
        
        
        <p class="font-secondary paragraph-lg text-dark">
          social media content 
        </p>
        
        <h1>About Me</h1>
        <p class="font-secondary paragraph-lg text-dark">
        
         My name is Sam Ade, A.k.A The Writing Geek. I’m skilled in keyword research and content creation. I help companies shape their voices online, one character at a time. 
I am a seasoned content curator with extensive and varied writing experience. I have curated website content, articles, product reviews, white papers, marketing copies, educative articles, press releases, and so much more.
        </p><br /><br />
        
        <p class="font-secondary paragraph-lg text-dark">
          I am also a typo finder and a grammar fixer.
I enjoy a steady flow of freelance work for a wide variety of clients and projects, and I ensure that my content is always creative, unique, and engaging.
Every copy I work on is formatted for the specific client's voice and audience, and I excel in deadline-/results-driven environments.
          </p>
        <p class="font-secondary paragraph-lg text-dark">
          

        
      </div>
    </div>
  </div>
</section>
<!-- /about -->
