<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Sample Works</h2>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <article class="card shadow">
          <img class="rounded card-img-top" src="{{ site.baseurl }}/assets/images/blog/{{ post.image }}" alt="{{ post.title }}">
          <div class="card-body">
            <h4 class="card-title"><a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h4>
            <p class="cars-text">The word "keto", is derived from "Ketogenic" or "Ketogenic Diet". It is a special diet regimen that emphasizes low-carbohydrate and high-fat. 
Similar to the Atkins and other low-carb diets, it entails a drastic reduction in the body's carbohydrate intake. Keto involves a reduction or switch from the carbohydrate reliance of the body while encouraging the body to run on fats and proteins. This metabolic state is called KETOSIS. 
</p>
            <a href="{{ post.url | relative_url }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
