<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          
          
          <p>
                     Are Essential Oils Safe?
It seems like every time you turn around, someone is suggesting aromatherapy to you. As essential oils are a $1 billion industry, one cannot help but wonder, do they really work and are they safe for use?
Consumers in the United States spent $1 billion on essential oil products last year alone, and it is expected to exceed $11 billion in the next couple of years. What does research say about the safety of aromatherapy? First, we need to take a closer look at what it means.
WHAT IS AROMATHERAPY?
Oils, typically fragrant ones that have been extracted from the roots, flowers, leaves, or seeds of plants using steam or applied pressure, are commonly called essential oils. “essential”, the qualifier, point to the fact that the oil contains the “essence” of the plant (in other words, the natural chemicals that provide a distinct flavor or odor). These oils, once diluted, are applied to the skin, smelled, heated so that their aroma is dispersed into the air, or dabbed on a pillow or in a bath. Soaps and lotions can also be made with essential oils and used for aromatherapy purposes.

Essential oils use is cross-cultural and dates back millenniums. It was popularized by the story of frankincense being offered by the Magi as a gift. Chances are you have used an essential oil roller or diffuser, even if you haven’t purchased them before. For example, Vaporub, typically rubbed on the chest as a cough suppressant, contains the essential eucalyptus, cedarleaf, and nutmeg oils (among others) suspended in a petroleum jelly solution.
Essential oils can be harmful if not used carefully, as they are highly concentrated. However, implementing aromatherapy into your lifestyle shouldn't cause paranoia or undue worry, but it is important to learn about and heed essential oil precautions. You will be well on your way to safely enjoying the many benefits that essential oils can offer, if you simply treat essential oils with respect and learn about the necessary safety measures. 

Most essential oils have been shown to be safe when used as supposed. Consult your doctor and a trained aromatherapist about the possible risks and benefits, if you're considering aromatherapy.
Reference: https://healthywa.wa.gov.au/Articles/A_E/Essential-oils#:~:text=What%20are%20the%20dangers%20of,if%20small%20amounts%20are%20ingested.
Are Essential Oils Good for Skin?
Do you want a smooth skin and shiny, healthy hair? Turn to essential oils like lavender, rosemary, peppermint, and the likes. These oils also have many health benefits, and help you de-stress and cure headaches, in addition to their effect on your hair and skin.
Although spa experiences are unique, you can recreate the magic in the comfort of your own house. When it comes to achieving clear skin, you can save a lot of time and money, if you know the right way of using essential oils. Typical essential oils are highly concentrated, volatile, aromatic liquids that are purely extracted from the fruits, seeds, flowers, barks, stems, roots, leaves or other plant parts.
Lavender essential oil
Lavender is wonderful for accelerating healing time for burns, cuts, stings, and other wounds, just as it is known for its soothing, calming properties. Some of its specific properties include being an analgesic, antifungal, antiseptic, disinfectant, and sleep inducer.
All you need to do is put a few drops on your pillow just before going to bed and you are guaranteed to sleep soundly. You can mix 1 or 2 drops with coconut oil if you experience skin irritations occasionally. You can also add 2-3 drops with olive oil to take care of your nails.

Rosemary essential oil
Rosemary oil is a colorless to pale yellow oil that smells herby. The astringent properties of this oil cleanse, hydrate and rejuvenate skin, making it gorgeous and firm. Rosemary oil helps with wrinkles and under-eye bags as well as lightening scars and conditioning damaged skin. It also has anti-inflammatory properties that are useful in in healing as well as burns reducing swelling and puffiness of skin.
All you have to do is mix rosemary essential oil with any carrier oil before applying on hair and skin and gently massage. To catalyze hair growth, add 4-5 drops of the oil in 1 tsp of coconut oil and mix it until it reaches a smooth consistency. Then evenly apply onto your scalp and hair. You can leave it on for the whole night. In the morning, wash off with lukewarm water and pat dry your hair (avoid using hot water).

Reference: https://www.womenshealthmag.com/uk/beauty/a25890566/essential-oils-all-natural-but-are-they-actually-good-for-your-skin/

Can Essential Oils Cause Cancer?
Recently, there has been an upsurge in the incidence of various forms of cancer, and the carcinogenesis (the stimulation of growth of cancerous cells) effect of various substances are continuously looked at to try and identify carcinogenic substances and warn people to avoid them.
Carcinogenic oils 
Some essential oils are carcinogenic and have already been banned from use in aromatherapy as well as for internal use. These oils include calamus oil (contains asorone), and all oils that contain high amounts of safrole like sassafras oil.
Methyl chavicol, which is found in basil oil, is another compound found in essential oils that may be carcinogenic. Although this statement does not make basil a dangerous oil, care should be taken to select the basil oil with the highest linalool content and lowest methyl chavicol quantity.
It’s important to know that studies showed these oils as carcinogenic when applied daily in high concentration over a long period of time.

Using essential oils when you have cancer 
There are some points to keep in mind when using essential oils and aromatherapy, if you have cancer:

Firstly, keep massages light, and avoid deep massage near the lymph glands as well as over muscles.
Ensure not to massage areas that have been irradiated, as well as areas that have skin cancers.

Health and cancer experts have compiled a list of oils that should not be used by cancer patients; aniseed, bay, clove, cinnamon, fennel, ho leaf, laurel, nutmeg, and star anise.

Reference: https://cancerres.aacrjournals.org/content/28/11/2372


Can Essential Oils Be Used on Skin?
Different essential oils have different effects on the skin. Be sure to know what the effect of an essential oil is before using it on your skin. Some essential oils can cause rashes on the skin if used. Some can be poisonous if swallowed or absorbed through the skin.
Here is what we know about essential oils that affect the skin:

Peppermint essential oils is used for gastrointestinal discomfort and stomach pain. If to be used, it’s important to choose the correct species of mint, and if it’s to be applied to the skin, it should be done lightly, as some types are poisonous; for example, pennyroyal oil causes liver problems.
People use Wintergreen in some over-the-counter skin preparations for pain relief. Wintergreen creates a feeling of warmth because it enlarges the blood vessels. However, wintergreen is very dangerous if more than a tiny amount is used. It is commonly used as a food flavoring in trace amounts, but drinking from the bottle can be dangerous. Gulping oil of wintergreen is like swallowing a large number of tablets.
On the other hand, other oils like Tea tree oil are used for fungal skin infections and other skin treatments.
When Nutmeg is misused or abused, it can cause hallucinations and the abuser pass out.
An essential oil like Eucalyptus can be used for its soothing effects when inhaled, for example during a cough or cold. However, misuse can cause adverse reactions on the skin, and intake can seizures and convulsions.
Taking more than a very small amount of Sage oil causes seizures in children, even though it is commonly used as a scent, seasoning, and remedy.
Camphor is commonly used as a moth repellent and as an ingredient in preparations for the skin. A small amount of camphor, however, is dangerous when swallowed. Within only a few minutes, seizures can begin. Poisoning from camphor can also occurr when skin preparations containing camphor are applied repeatedly on children more frequently than the label recommends.
All in all, mild usage is key. Whenever you find an essential oil in a cosmetic product, use it according to the directions on the label. Quit using it immediately if a rash or other skin reaction occurs and wash it off gently.
Refrerence: https://www.healthline.com/health/how-to-use-essential-oils#:~:text=Takeaway,apply%20it%20directly%20your%20skin.
Can Essential Oils Make You Dizzy?
One of the most common questions people ask is; can diffusing essential oils make you feel light-headed or dizzy? And can using an essential oil diffuser give you a sickly feeling?

Short answer: Yes. Using and diffusing certain essential oils can make you feel dizzy, but there is more to it than that.

If you’re new to using essential oils, chances are you are also new to the nontoxic life. You will need to ease your way into using essential oils for a small period of time. You’re going to need to start slow at first.

With essential oils, less is more. If you are just starting out, start slow when diffusing to avoid nausea and dizziness.
How much should you diffuse?
At first, diffuse or apply topically one oil at a time and see how your body responds to each one. It will work its way into your bloodstream either through your lungs or skin, and will work its way through your body, purging toxins from your cells. It’s a biologically complicated process.
Newbie oil users should limit diffusing to 15-20 minutes for a long period. Take a break for at least 30-40 mins before diffusing again.
There’s really no need to follow the recommendation listed in your diffuser’s manual for the number of essential oils drops to use at a time. Most of the diffusers we have suggest using 10-12 drops at once, and that is quite excessive. Even with people who have been using essential oils for as much as 30 years or started as a kid, and 10-12 drops of quality essential oils is too much.
Start with 3-4 drops if you’re using a truly pure essential oil of premium quality. Note that marketing makes all “essential oils” seem pure, even though not all of them are. Regulators like the FTC and FDA do not regulate what an essential oil is, only how they are marketed, which results in shady claims made by different companies. If you see a bottle labeled 100% Pure Essential Oil (or any similar variety), that is 100% marketing and doesn’t mean anything legally. It could be pure, it could be 95% diluted, or it could be 100% synthetic oil. So, it’s important to know your brand.
Reference: https://www.etherische.com/can-using-essential-oils-make-dizzy/
Can Essential Oils Go Bad?
A lot of people ask the question, can essential oils go bad or expire? Well, almost everything has some type of “use by” date or expiration. Essential oils are no different, as they can potentially oxidize. They do have a shelf life and they are considered volatile. While this might be surprising to some people, when you think of them chemically, volatile substances, like EOs evaporate into the atmosphere. That’s is the very reason why we can smell them in the first place. All essential oils are made up of chemical constituents, so the lighter compounds or constituents are more volatile and evaporate rapidly, while heavier constituents will evaporate slowly. Essential oils with lighter constituents are usually easier on the body. They can cause an increase in redness or irritation when they evaporate. Risk of sensitivity to an oil increases when oils have oxidized before they are applied to the body, leading to questions like:
How long does it last before an oil goes bad?
How can one know if an oil goes bad?

Below are some of the answers to these questions.

The Shelf-life of Popular Essential Oils
Shelf life can vary, and essential oils can’t go rancid, but they can deteriorate over time if oxidation occurs. How long they are potent for varies based on the type of oil it is. They slowly lose therapeutic value and aromatic qualities. The chemical stability of an oil depends on the individual shelf life of the oil. Different categories of oils have general shelf lives. For example:
Monoterpene Category: Essential oils like lemon, orange, and tea tree have high amounts of oxides or monoterpenes and can be used for 1-2 years before they go bad.
Phenols Category: Essential oils like oregano, basil, and juniper berry contain high amounts of phenols and can be used for three years before they go bad.
Ketone, Ester, Monoterpene Category: Chamomile, lavender, and clary sage contain ketones and esters and can be used for 4-5 years before they go bad.
Sesquiterpenes and sesquiterpenol Category – Vetiver, cedarwood, sandalwood, wintergreen and patchouli oils contain large amounts of sesquiterpenols and sesquiterpenes and can be used for 7 years before they go bad.
Reference: https://www.healthline.com/health/do-essential-oils-expire#:~:text=Essential%20oils%20don't%20spoil,skin%20after%20they%20have%20expired.
Can Essential Oils Be Ingested?
Quite a number of essential oils are safe for ingestion. The most important thing to remember is that the essential oils you ingest must be of a therapeutic grade, not the grade commonly used for aromatherapy, as those aren’t safe for consumption. Additionally, they should be ingested in small drops in another liquid such as water because it’s dangerous to ingest essential oils in large amounts. Essential oils can be useful in treating multiple ailments, as long as they are used correctly.
Peppermint Oil
This oil is often used to flavor candies and foods; however, peppermint oil is an essential oil that has also been used for centuries to help treat various illnesses. It has been effectively used to treat nausea, indigestion and cold symptoms, according to the National Center for Complementary and Alternative Medicine. Peppermint oil can also be ingested to help irritable bowel. Note that it should only be ingested in small doses as either capsule or liquid. If you’ve got any internal ailment, mixing a couple of drops of this oil with some water and then drinking it is enough to help treat it.

Lemon Oil
This essential oil has many benefits when consumed. Lemon oil has high vitamin content and, therefore, is helpful in treating colds and strengthening your immune system, according to Organic Facts. It works by stimulating white blood cells and increasing your ability to fight illnesses. Lemon oil is also helpful in increasing circulation in the body when consumed. A great way to ingest the oil is by putting a couple of drops of lemon oil in a glass of water or juice. It is helpful with the internal cleansing of the system. To cleanse and sooth an upset stomach, add a drop or two of this oil in a glass of water and drink it.

All essential oils have health benefits, whether you're using them for an upset stomach or a sore throat. But you must know which types of essential oils are safe to ingest before mixing one into your tea or placing a few drops in your mouth. Ensure to follow the U.S. Food and Drug Administration (FDA) recommendations when it comes to ingesting them.
Reference: https://www.poison.org/articles/2014-jun/essential-oils


Can Essential Oils Cause Headaches?
Overexposure to certain oils, particularly from inhalation, can cause side effects such as spikes in heart rate and headaches. For example, lavender. When taken by mouth, it can cause constipation, increased appetite, and headache. Lavender can also sometimes cause irritation when applied to the skin.

The key to preventing headaches, is to avoid overuse or abuse. Some oils, when used in too high a concentration, may cause irritation. Try a skin patch test to determine any potential irritation before you use essential oils, and always dilute appropriately, if you happen to be a highly sensitive person (HSP).
Ignoring Contraindications and General Safety Precautions
One of the most dangerous mistakes to make with essential oils is ignorance or disregard of basic safety information. Some oils can react with prescription drugs and supplements, and they can cause adverse reactions when used excessively. Essential oils can react differently in children, those with weakened immunity, and the elderly. It is therefore imperative to educate yourself on the cautions and contraindications surrounding them, so that you don’t encounter adverse effects like headaches and the likes.
Essential oils like anise Pimpinella anisum (L.) for example, contains the toxic constituents phenolic and ether anethole. Anise has the potential to cause circulatory and nervous system disorders, when used in excessive doses (more than three drops, three times per day, or with prolonged use over two to three weeks).
A 2012 review study showed that anise P. anisum essential oil increases the effects of drugs that affect the central nervous system and lowers the antidepressant effect of some drugs.
fir Abies balsamea (L.) is one other example that has been proven to potentially inhibit some metabolic pathways in the liver, which could potentially limit the effectiveness of some diabetes drugs, causing adverse effects in the body.
Proper education is the basis of enjoying aromatherapy safely, not fear. While it’s true that some essential oils cause side effects like nausea and headaches, these effects are rare when proper instructions are followed. Quality essential oils can enhance and enrich your wellness practice, but like all things in life, the more you are educated about what you’re using, the better the outcomes you will experience.
Reference: https://www.medicalnewstoday.com/articles/326732#:~:text=Asthma%20attacks%3A%20While%20essential%20oils,to%20a%20headache%20in%20others.
How Essential Oils Help
Beauty products like face creams, and burners for aromatherapy, these are some of the most common uses of essential oils. They are known for their aromatic properties, but they’re much more complex when you start looking at them as healing medicines. They can help sinus infections and headaches, and they can also help you digest and de-stress.
Essential oils can be mixed together to create an alluring and healing scent, and the good news is you can find them in just about any grocery or health food store. One key point to remember is that pure essential oils are very concentrated and should be diluted if they’re going to be applied on the skin. You can mix a drop or two of an essential oil with one of your favorite carrier oils, such as jojoba, coconut or olive oil, before applying topically. 
There’s not a bad place on the body to use essential oils, from the top of your head to the tips of your toes. However, there are some extremely effective at-home remedies that require just a couple drops applied strategically on the skin. Here are some key places to apply essential oils and give your body some natural healing.  

Temples
The temples are a key pressure point, and probably the most well-known area to put essential oils. Peppermint, lavender, and lemon essential oils are all known to help de-stress and relax. The temples are a great place to apply some essential oils to anytime, any day, but it’s known to be particularly handy at night when you need to shut off your brain to get a good night’s rest.  

Chest
Making use of an essential oil burner or popping a couple drops in a diffuser are really popular ways to clear up breathing issues. Applying essential oils topically to the chest, however, can work wonders if you have any sort of cough or congestion. You can use a eucalyptus or juniper essential oil to loosen up your chest and have your breathing clearer within a short period.
Reference: https://www.healthline.com/nutrition/what-are-essential-oils




How Essential Oils Are Used
AROMATIC
Perhaps the safest and easiest way to use them. Here are a few easy ways to safely experience essential oils’ aromatic benefits:

By using an essential oil diffuser
Add a couple of drops of your favorite essential oil to an aromatherapy diffuser to give your home a lovely scent, and also enjoy an array of benefits for your body and mind.

Making your own aromatherapy inhaler
You can do this by putting up to 15 drops of the desired essential oils into a small bowl and placing a wick into the bowl to soak up the oils. Place the wick into the inhaler tube and close the cover once the essential oil is absorbed. It can be used several times a day and is excellent for instant, on-demand, soothing therapy.

Direct palm inhalation
A method that offers quick and easy access to the benefits of essential oils. It should only be used with essential oils that can be safely applied topically.

To use this method, put 1-2 drops of essential oil on your palm. Then rub your palms together and deeply inhale. Ensure to keep away from eyes, as essential oils can and will be irritating if it touches your eyes.

Steam inhalation
A really effective way to receive the aromatherapeutic benefits of essential oils.

For this, you will need a bowl (ideally ceramic, glass, or metal), hot water and a towel, 
Boil some water in a pan or teapot
Next, fill your bowl about halfway with some hot water
Then add 1 to 2 drops of desired essential oils
Place bowl on a flat surface
Shut your eyes and put your face over the bowl (hover over it)
Ensure that the temperature is comfortable, put the towel over your head, and take some deep breaths for a couple of minutes. (Be careful and don’t use more than 2 drops)
You can do this up to 3-5 times per day if need be.

Reference: https://www.healthline.com/health/how-to-use-essential-oils#:~:text=The%20most%20common%20way%20to,of%20medicinal%20and%20therapeutic%20properties.





          </p>
          
          <h4 class="mb-80">Contact Form</h4>
          <form action="https://formspree.io/{{ site.data.settings.contact-email }}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Your Message"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
