<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          
          
          <p>
            



CS:GO’S OPERATION BROKEN FANG OUT NOW!

CS:GO’s Operation Broken Fang, is  the tenth Operation in the Valve created series. It can now be purchased on Steam. Operation Broken Fang comes with new maps, gameplay modes, a Points shop, and so much more. This makes it the biggest Counter Strike Operation since Hydra was released in 2017.
Broken Fang, the latest CS:GO Operation, was released by Valve unexpectedly last night after teasing fans with a couple of Tweets. This new release comes 1 year after Shattered Web, the previous Operation. Broken Fangs brings in more new content. 
Operation Broken Fang comes with a new competitive mode. It also comes with a more comprehensive personal statistics display, weapon collections, all-new agents, stickers, and a lot more. It is available only to Operation pass holders. In addition, the new update features the fast-paced Retakes Mode, available to all players.
CS:GO’s tenth Operation features 7 new maps which can be played in different game modes. It also features weekly missions which allow players to win stars and exchange them for rewards in the newly added Operation Shop.
Below, we take a closer look at some of these new features.

MAPS
Operation Broken Fang’s most thrilling feature is its new map Ancient; it has been added to casual, scrimmage, and deathmatch game modes. Two other new maps were added as well; Apollo and Engage. Ancient displays jungle-covered ruins that take you back in history as you fight to take control of two bombsites.
Frostbite, the map set in snow, will be accessible in Danger Zone battle royale, Guard and Elysion were added to Wingman game mode, and Autumn Harvest is the Operation’s co-op map.
Cache, an already existing map that was removed from the competitive map pool in 2019 for a rework, has had a lot of details removed from it. Two other maps have been removed from the map rotation as well; Swamp and Mutiny.



NEW AGENTS
Along with the newly added maps, Operation Broken Fang comes with some new agents that you can play as. 3 new female agents were added to the game; SWAT First Lieutenant Farlow, SWAT Commander Mae “Dead Cold” Jamison, and lastly Getaway Sally, one of The Professionals. These three were added to FBI Special Agent Ava. Ava was added to Counter Strike in Operation Shattered Web.

SKINS AND GRAFITTI
4 new skin collections have been added as well; the Ancient Collection, the Havoc Collection, the Broken Fang case, and the Control Collection. Valve also added some Broken Fang stickers, alongside some new skill group patches that represent players’ rank. They added new graffiti options, and some of them portray certain weapons’ recoil patterns.

MATCHMAKING
Premier matchmaking feature has been added, and they are exclusive to Operation pass holders. A Retakes game mode was added, alongside a customizable chat wheel and a new, improved ping system.
Valve included another player queuing system to the game; Global Offensive. The game community was formerly separated into those who didn’t have a Prime status, and those who did. Now players will be divided into two other groups. Players that have a battle pass will be able to make use of the Premier-matchmaking feature. Aside from the regular features present in competitive mode, it will also include a map ban phase.
As of this moment, it is difficult to tell how much of all this will impact the pace of matchmaking. Nevertheless, it’s safe to assume that both players in Premier-matchmaking and regular players will have to wait for an extended period before next play session begins.

Statistics and Communication 
Players with battle passes will have access to a special statistics section. The session contains detailed information that players will find quite useful. For example, you can see your win percentage in all the different modes and on different maps. You can see the K/D ratios for all weapons. You can also find out who your best partner has been so far in Wingman.
All the information can be found in one single tab. A system of filters is also available; by maps mode, time, and sides.  
The game’s communication-related functionality has been greatly expanded as well. The voice and chat communication now have a notification wheel to complement them. Not just one but three of them, all at once. In the Settings feature, you can assign to all wheels the necessary phrases to go with them, and you can assign the display of the wheels to different keys. 
There’s a rather impressive number of phrases available. Having the option to identify spots on the map by using the control to press on them is also pretty cool. As it stands, with this function present in the game now, there will be no more need for those intense arguments about what the right name of a particular spot on a map is.

Money and Time Frame
The cost for this operation’s battle pass is $15. On purchase, you will earn access to its 16 weeks. Pass holders will receive new tasks every week. On completion, players will earn stars. The stars are a currency of sorts, taking on two functions at once.
By earning stars, you can advance the operation medal. You will need to gather 100 stars in total, and the count will be automatic, as the stars are received. As the number of stars increases, the medal will be advanced, until it reaches the highest point. The player will of course still retain their stars.
Also, you can use the stars you’ve received to purchase items in the game’s operation store. You can purchase items like stickers, cases, graffiti, new agents, and, of course, patches. You can also purchase stars in the store and use them to buy other items. 
Within the very first week of playing, you can earn as much as 19 stars, although only ten of them will be available in your wallet. The other 9 stars are just for bonuses, so if you don’t want to, you don’t have to earn them.




          </p>
          
          <h4 class="mb-80">Contact Form</h4>
          <form action="https://formspree.io/{{ site.data.settings.contact-email }}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Your Message"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
