<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          
          
          <p>
            

LeoVegas is a multi-award garnering casino! Get as much as €400 as Welcome Bonuses if you are located in Gibraltar, Andorra, Iceland, Monaco, Liechtenstein, Luxembourg, Malta or Mauritius!

Book of Dead

Book of Dead: Accompany Rich Wilde into the lowest points of the pyramids present in this classic casino slot

Keep an eye out for the eminent Rich Wilde symbol that offers high-pays. You can also get three or even more Book of Dead scatters. They offer a feature story of ten free spins that come with a uniquely selected expanding symbol.

Some fun game facts for you: The myth holds that the enigmatic Book of Dead resides somewhere within the five reels and ten paylines of the game. Make an entrance into the primeval tomb and reveal its powerful secrets, all at LeoVegas!



          </p>
          
          <h4 class="mb-80">Contact Form</h4>
          <form action="https://formspree.io/{{ site.data.settings.contact-email }}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="_replyto" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Your Message"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button type="submit" class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->
